.section-first{
    background-image: url(../imgs/section.jpg);
    display: flex;
    justify-content: space-around;
    .imgs{
        height: 435px;
    }

    button{
        height: 48px;
        background: #B45F4D;
        border-radius: 0px;
        margin-top: 332px;
    
        p{
            font-size: 17px;
            color: #FFFFFF;
            padding: 10px 20px;
            margin: 0px;
            
        }
    }
}

.section-text{
    background-color: #A9AE8D;
    p{
        font-family: Roboto;
        font-size: 18px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F6F4EC;
        padding-top: 70px;
        padding-left: 70px;
        margin-top: 0px; 
    }

    h2{
        font-family: Roboto;
        font-weight: normal;
        font-size: 33px;
        line-height: 64px;
        color: #F6F4EC;
        padding-left: 70px;
        margin: 0px;
    }

    p.last{
        color: #F6F4EC;
        padding-left: 70px;
        padding-bottom: 70px;
        margin: 0px;
    }

}