@import "../utils/mixins";

.container{

    h3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 39px;
        text-align: center;
        text-transform: capitalize;
        color: #B45F4D;
    }

}