container-main 
    section-main 
        img.fon(src="./assets/imgs/section.jpg", alt="")
            button 
                p SHOP NOW
    section-text 
        p  Ready To Get Drenched?
        p Meet Monsoon Moisture Mask
        p Shop Now