container
    section-first 
        imgs.fon(src="./assets/imgs/section.jpg", alt="")
            button 
                p SHOP NOW
    section-text 
        p Ready To Get Drenched?
        h2 Meet Monsoon Moisture Mask
        a(href="#")  Shop Now