.container
    .section-first 
       
            button 
                p SHOP NOW
    .section-text 
        p Ready To Get Drenched?
        h2 Meet Monsoon Moisture Mask
        p.last  Shop Now